/* elle_m_commom.css */

/* 공통내용 */
html,body { width:100%; height:100%; }
#wrap { width:100%; height:auto; min-width:240px; min-height:800px; background-color:#ccc; }

.top_btn { position:fixed; right:1rem; bottom:2rem; width:3rem; height:3rem;
  background-color:rgba(0,0,0,0.9); color:#fff; line-height:3rem; text-align:center; }
.top_btn a { display: block; width:100%; height:100%; font-size:1.5rem;}

/* mob.css */
@media screen and (max-width:599px) {
  /* 브라우저 가로폭480px 기준으로 작업 */
  #wrap { position:relative; width:100%; margin:auto; background-image:url('../../../img/main/wrap_image.jpg');
    background-repeat:no-repeat; background-position:50% 50%; background-size:auto 100%; }
}
/* other.css */
@media screen and (min-width:600px) {
  #wrap { width:100%; margin:auto; background-color:#fff; }
}
