/* elle_f_trend_pcFull.css */

/* pcFull.css */
@media screen and (min-width:1440px) {
  /* #trendBox =================================================================================== */
  #trendBox { width:100%; height:auto; max-height:70vw;  }

  .trend_img_area { width:65%; height:auto; min-height:40vw; margin:auto; }
  .trend_01, .trend_02 { height:22vw; }

  .trend_text dt { width:100%; height:auto; margin-top:5vw; margin-bottom:1vw; }
  .trend_text dd { margin:auto; text-align:center; }
}