/* elle_f_trend_common.css */

/* trendBox ================================================================================ */
#trendBox { width:100%; height:auto; margin-bottom:150px; }

.trend_outer { width:100%; height:100%; }


.trend_01, .trend_02 { width:100%; }
.trend_img { width:65%; height:100%; overflow: hidden; }
.trend_img a { display: block; width:100%; height:100%;
  background-repeat:no-repeat; background-position:50% 50%; background-size:cover; }
.trend_text { width:33%; height:100%; box-shadow:2px 2px 5px rgba(0,0,0,0.5); }

.trend_01 { margin-bottom:50px; }
.trend_02 { margin-bottom:50px; }
.trend_01 >.trend_img { float:left; }
.trend_01 >.trend_img > a { background-image:url('../../../../img/sub01/trends_01_img.jpg'); }

.trend_img_area dl { position:relative; }
.trend_img_area dl::before { position:absolute; top:-5%; left:0; right:0; margin:auto; content:" ";
  width:13vw; height:30px; background-color:rgba(234,234,234,0.6); }

.trend_01 >.trend_text { float:right; background-color:#fff; }
.trend_text dt { width:100%; height:auto; margin-top:8.3vw; }
.trend_text dt a { display: block; width:100%; height:100%; 
  text-align:center; font-weight:bold; word-break:keep-all; }
.trend_text dd { width:90%; height:auto; margin:auto; margin-top:3vw; font-size:0.9rem;  }

.trend_02 >.trend_img { float:right; }
.trend_02 >.trend_img > a { background-image:url('../../../../img/sub01/trends_02_img.jpg');}
.trend_02 >.trend_text { float:left; background-color:#fff; }

.trend_img:hover a { transform:scale(1.1); transition:all 300ms ease; }