/* elle_m_beauty_pcFull.css */

/* pcFull.css */
@media screen and (min-width:1440px) {
  /* 브라우저 가로폭1920px 기준으로 작업 */
  /* #beautyBox ====================================================================================== */
  #beautyBox { width:100%; height:auto; margin-bottom:250px;  }

  .beauty_outer { position:relative; width:73.958333vw; height:auto; max-height:31.597222vw; margin:auto; }
  .beauty_outer h3 { float:left; width:auto; height:31.597222vw;  writing-mode: vertical-rl; text-orientation:upright; font-size:2rem;
  letter-spacing:2rem; text-transform:uppercase; text-align:center; }
  .beauty_outer button { display:block; float:right; width:60px; height:60px; margin-top:13vw;
    background-image:url('../../../../img/btn/next.png'); background-repeat:no-repeat;
    background-position:50% 50%; background-size:cover; }

  .beauty_img_area { float:left; width:61vw; height:31.597222vw; margin-left:4vw;  }
  .beauty_img_area ul { width:400%; height:100%; }
  .beauty_img_area li { float:left; width:25%; height:inherit; margin-right:1.041666vw; }
  .beauty_img_area li a { display:block; position:relative; 
    width:100%; height:100%; transition:all 300ms ease;
    background-repeat:no-repeat; background-position:50% 50%; background-size:auto 100%;}
  .beauty_img01 a { background-image:url('../../../../img/main/main_beauty01.jpg'); }
  .beauty_img02 a { background-image:url('../../../../img/main/main_beauty02.jpg'); }
  .beauty_img03 a { background-image:url('../../../../img/main/main_beauty03.jpg'); }
  .beauty_img04 a { background-image:url('../../../../img/main/main_beauty04.jpg'); }

  .beauty_img_area li a::before { content:" "; display: block; 
    position:absolute; top:0; left:0;
    width:100%; height:100%; opacity:1; transition:all 300ms ease; background-color: rgba(0,0,0,0.7); border:8px solid #a00;
    box-sizing:border-box; opacity: 0;}

  .center_line {display: block; position: absolute; z-index:10; top: 50%; left: 0; width: 100%; height:0; background-color: #fff; text-align: center; color:#fff; }
  .center_line > .center_text{ display: block; width: 100%; height: auto; transform:translateY(-10%); transition: all 300ms ease; opacity: 0; }
  .center_text > span { text-transform:uppercase; }
  .beauty_img_area li a:hover .center_text{ transform:translateY(-50%); opacity: 1;}
  .beauty_img_area li a:hover::before{opacity: 1;}
  .beauty_img_area li a:hover{background-size:auto 120%; }

}