/* elle_m_lovelife_pcFull.css */

/* pcFull.css */
@media screen and (min-width:1440px) {
  /* 브라우저 가로폭1920px 기준으로 작업 */
/* #lovelifeBox ========================================================================================= */
#lovelifeBox { width:100%; height:auto; margin-bottom:100px; }
.lovelife_outer { width:100%; height:auto; margin:auto; padding-top:20px; box-sizing: border-box; }
.lovelife_img_area { width:100%; height:34.72222vw; text-align: center; }

.lovelife_img_area>div{ display: inline-block;  margin-left:3vw;  }
.lovelife_img_area>div:first-of-type{margin-left: 0;}

.lovelife_img_area dl { 
  position:relative; width:100%; height:80%; margin-bottom:20px;
  background-color:#111; padding-top:20px; 
  box-sizing: border-box; box-shadow:2px 2px 5px rgba(0,0,0,0.7); 
  transition:all 300ms ease; }

  @keyframes swing{
    20% { transform: rotate3d(0, 0, 1, 5deg); }
    40% { transform: rotate3d(0, 0, 1, -5deg); }
    60% { transform: rotate3d(0, 0, 1, 0deg); }
    80% { transform: rotate3d(0, 0, 1, 5deg); }
    100% { transform: rotate3d(0, 0, 1, 0deg); }
  }
.lovelife_img_area dl.action { transform-origin:top center; animation: swing 2s 1 alternate linear; }

.lovelife_img_area dl a { display: block; width:100%; height:100%; 
  background-repeat:no-repeat; background-position:50% 50%; background-size:cover; }
.lovelife_img_area dt { width:100%; height:85%; }
.lovelife_img_area dd { position:static; width:100%; height:auto; margin-top:1vw;
  color:#fff; text-align:center;  }
.lovelife_img_area h3 { width:100%; height:10%; 
  font-size:2rem; text-transform:uppercase; letter-spacing:1rem; text-align:center; }

.love_area { width:20.833333vw; height:100%; }
.love_area dl a { width:90%; height:100%; margin:auto; background-image:url('../../../../img/main/main_lovlife01.jpg'); }

.lovelife_area { position:relative; width:23.611111vw; height:32.986111vw; background-color:#4ce; }
.lovelife_area a { display:block; width:100%; height:100%; }
.lovelife_img { width:100%; height:100%; background-image:url('../../../../img/main/main_lovlife02.jpg');
  background-repeat:no-repeat; background-position:50% 50%; background-size:cover; }
.lovelife_title { position:absolute; bottom:10%; left:50%; transform:translateX(-50%);
  width:100%; height:10%; color:#fff; text-align:center; line-height:2.5rem; }

.life_area { width:20.833333vw; height:100%;}
.life_area dl a { width:90%; height:100%; margin:auto; background-image:url('../../../../img/main/lovelife_img3.png'); }

.lovelife_img_area dl::after { position:absolute; top:-4%; left:0; right:0; margin:auto; content:" ";
  width:6.944444vw; height:30px; background-color:rgba(234,234,234,0.6); }
}