/* elle_f_lastest_pc.css */

/* pc.css */
@media screen and (min-width:1024px) and (max-width:1439px) {
  /* 브라우저 가로폭1440px 기준으로 작업 */
/* #bannerBox =================================================================================== */
#lastestBox { width:100%; height:auto; min-height:69.444444vw;
  padding-top:100px; box-sizing:border-box; }
.lastest_outer { width:100%; height:100%; min-height:69.444444vw; }

 
  .lastest_img_area { width:80%; height:auto; max-height:58.59375vw; margin:auto; }
  .lastest_img_area ul { width:100%; height:100%; }
  .lastest_img_area li { float:left; width:33.333333%; height:29.296878vw; }
  
}