/* elle_f_lastest_common.css */

#lastestBox { margin-bottom:150px; }
.title_area { width:100%; height:auto; margin-bottom:100px; }
  .title_area i { display: block; }
  .line { width:2px; height:70px; margin:auto; background-color:#333; }
  .circle { width:10px; height:10px; border-radius:100%; margin:auto;
    margin-bottom:40px; background-color:#333; }
  .title_area h3 { width:auto; height:40px; margin:auto; text-align:center;
    text-transform:uppercase; }
  
  .lastest_btn { display:none; }
  
  .lastest_img_area li a { display:block; position:relative;
    width:100%; height:100%; transition:all 300ms ease;
    background-repeat:no-repeat; background-position:50% 50%; background-size:cover; }

    .lastest_img01 a { background-image:url('../../../../img/sub01/sub01_lastest01.jpg'); }
    .lastest_img02 a { background-image:url('../../../../img/sub01/sub01_lastest02.jpg'); }
    .lastest_img03 a { background-image:url('../../../../img/sub01/sub01_lastest03.jpg'); }
    .lastest_img04 a { background-image:url('../../../../img/sub01/sub01_lastest04.jpg'); }
    .lastest_img05 a { background-image:url('../../../../img/sub01/sub01_lastest05.jpg'); }
    .lastest_img06 a { background-image:url('../../../../img/sub01/sub01_lastest06.jpg'); }

    .lastest_img_area li a::before { 
      display:block; content:" "; 
      position:absolute; top:0; left:0; 
      width:100%; height:100%; opacity:0; transition:all 300ms ease;
      background-color:rgba(0,0,0,0.7); border:5px solid #900; box-sizing: border-box; }

    .lastest_img_area .center_line {display: block; position:absolute; z-index:10; top:60%; left:5%; 
      width: 80%; height:0; text-align:left; color:#fff; }
    .lastest_img_area .center_line > .center_text{ display: block; width: 100%; height: auto; 
      transform:translateY(70%); opacity: 0; transition: all 300ms ease; }
    .lastest_img_area .center_text>.section { color:#e00; text-transform:uppercase; font-weight:bold; }

    .lastest_img_area li a:hover .center_text{ transform:translateY(-20%); opacity: 1;}
    .lastest_img_area li a:hover::before{ opacity: 1; }