/* elle_f_view_tab.css */

/* tab.css */
@media screen and (min-width:600px) and (max-width:1023px) {
  /* 브라우저 가로폭1024px 기준으로 작업 */
  /* #viewBox ================================================================================== */
    #viewBox { width:100%; height:auto; min-height:46vw; margin-bottom:400px; background-color:#ffd798; }
   .view_outer { width:100%; height:100%; }
   .view_outer video { width:100%; height:100%; } 
}