/* elle_f_view_pcFull.css */

/* pcFull.css */
@media screen and (min-width:1440px) {
  /* 브라우저 가로폭1920px 기준으로 작업 */
  /* #viewBox ================================================================================== */
  #viewBox { width:100%; height:auto; max-height:67.5vw; margin-bottom:350px; background-color:#ffd798; }
}